body {
    margin: 0 auto;
    /*background: url("../img/img-min2.jpg");*/
    background: #DE6262;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

h2 {
  margin-top: 0;
  padding-top: 46px;
}

#flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
div {
    text-align: center;
}

p {
    text-align: left;
}

#footer{
  margin: 0;
  padding: 16px;
  background: rgba(255,255,255,0.8);
}

#mergesort-div {
    width: 100%;
}

.algorithm {
  width: 45%;
  min-width: 350px;
    border-radius: 15px 15px 15px 15px;
  margin: 10px;
}

.arr-div{
    width:100%;
}

#mergesort-div #arrMerge div {
    display: inline-block;
}
#arrMerge {
    height: 600px;
}

.algorithm .explanation {
  padding: 0px 30px 30px 30px;
}

.algorithm div{
  margin: 0 auto;
}
.algorithm:nth-child(odd) {
    background: rgba(255,255,255,1);
}

.algorithm:nth-child(even){
    background: rgba(255,255,255,1);
}

#countingsort-div div{
    margin: 0 auto;
}

@media screen and (max-width: 757px) {
  .algorithm{
    margin: 10px;
    width: 90%;
  }
    .algorithm:nth-child(odd) {
        background: rgba(255,255,255,1);
    }

    .algorithm:nth-child(even){
        background: rgba(255,255,255,0.8);
    }
}
